@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-color: #fff;
    --blue: #B5DEFF;
    /* #FBF3E4 # */
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #383E56;
    --cream: #DFD8CA;
    --tulisan: #000;
    --card: #fff;
    --hovered: #5fb4fa;
    --hovered2: #fff;
    --hovered3: #5fb4fa;
    --bluehover: #87acca;
    --submenu: #dff0ff;
    --submenuhover: #b9d1e6;
    --primary: #4edbaf;
    --primaryhover: #3ab890;
    --warning: #d4637f;
    --warninghover: #cf5a78;
    --benner: url('/assets/bannerlablight.png');
    --card: #ffffff;
    --angka: #548CFF;
    --jam: #000;
    --submitbtn: linear-gradient(135deg, #4ac29a, #bdfff3);

    /* Transition */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: var(--body-color);
    transition: var(--tran-04);
}

body.dark {
    --body-color: #041c32;
    --blue: #3a5177;
    --bluehover: #2b4063;
    /* #FBF3E4 */
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #383E56;
    --cream: #DFD8CA;
    --tulisan: #fff;
    --card: #34426a;
    --hovered: #03506F;
    --hovered2: #3ff974;
    --hovered3: #3ff974;
    --submenu: #4d6791;
    --submenuhover: #425b81;
    --benner: url('/assets/bannerlabdark.png');
    --card: #22334e;
    --angka: #98f974;
    --jam: #fff;
    --submitbtn: linear-gradient(135deg, #159957, #155799);
}

.contain {
    position: relative;
    width: 100%;
}

.navigasi {
    position: fixed;
    width: 80px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}

.navigasi.active {
    width: 250px;
}

.navigasi ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigasi ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigasi ul li:hover,
.navigasi ul li.hovered {
    background: var(--body-color);
}

.navigasi ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}

.navigasi ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigasi ul li:hover a,
.navigasi ul li.hovered a {
    color: var(--white);
}

.navigasi ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigasi ul li a .icon i {
    font-size: 1.75em;
    color: var(--tulisan);
}

.navigasi ul li a .icon img {
    margin-top: 10px;
    margin-left: 5px;
    height: 57px;
}

.navigasi ul li a .judul1 {
    position: absolute;
    display: inline;
    padding: 0 70px;
    height: 60px;
    font-weight: 700;
    line-height: 80px;
    text-align: start;
    white-space: nowrap;
    color: var(--tulisan);
}

.navigasi ul li a .judul {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 55px;
    text-align: start;
    white-space: nowrap;
    color: var(--tulisan);
}

/* pojokan luaran */

.navigasi ul li:hover a::before,
.navigasi ul li.hovered a::before {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--body-color);
    pointer-events: none;
}

.navigasi ul li:hover a::after,
.navigasi ul li.hovered a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--body-color);
    pointer-events: none;
}

/* navigasi bawah switch */
.navigasi .bottom-content {
    position: relative;
    top: 90%;
}

.navigasi .bottom-content .mode {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.bottom-content .mode .bulan-bintang {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    left: 20px;
}

.bottom-content .mode .bulan-bintang i {
    position: absolute;
    font-size: 1em;
    color: var(--tulisan);
    transition: var(--tran-03);
}

.bottom-content .mode .bulan-bintang i.sun {
    opacity: 0;
}

body.dark .bottom-content .mode .bulan-bintang i.sun {
    opacity: 1;
}

body.dark .bottom-content .mode .bulan-bintang i.moon {
    opacity: 0;
}

.bottom-content .mode .mode-text {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    text-align: start;
    white-space: nowrap;
    color: var(--tulisan);
}

.bottom-content .mode .toggle-switch {
    position: absolute;
    right: 10px;
    display: flex;
    height: 20px;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--white);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--black2);
    transition: var(--tran-03);
}

body.dark .switch::before {
    left: 24px;
}

/* ISI */

.main {
    position: absolute;
    width: calc(100% - 80px);
    left: 85px;
    min-height: 100vh;
    transition: 0.5s;
}

.main.active {
    width: calc(100% - 245px);
    left: 250px;
}

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.kotak {
    position: fixed;
    z-index: 3;
    background-color: var(--blue);
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: var(--tran-03);
}

.bar {
    font-size: 1.5em;
    color: var(--tulisan);
    width: 50px;
    height: 50px;
    align-items: center;
    padding-left: 13px;
    padding-top: 12px;
    margin-left: auto;
    margin-right: auto;
}

.title-main {
    position: relative;
    top: 10px;
    left: 60px;
    font-weight: 500;
    font-size: 1.45rem;
    color: var(--tulisan);
    letter-spacing: 0.5px;
}

.profile {
    position: relative;
    min-width: 40px;
    height: 40px;
    border: 50%;
}

.profile .info {
    position: relative;
    top: 5px;
    right: 25px;
}

.profile p {
    position: relative;
    top: 11px;
    color: var(--tulisan);
    font-size: 13px;

}

.profile small {
    position: relative;
    top: 10px;

    color: var(--tulisan);
}

.profile img {
    position: absolute;
    top: 10px;
    right: 10px;
}

.cardbox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
}

.cardbox .card {
    position: relative;
    background: var(--benner);
    background-size: cover;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.09);
    text-align: center;
    justify-content: center;
    color: var(--tulisan);
    transition: var(--tran-03)
}

.cardbox2 {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.cardbox2 .card-1 {
    position: relative;
    background: var(--card);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.09);
    color: var(--tulisan);
    transition: var(--tran-03)
}

/* Dashboard */

.cardbox3 {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.cardbox3 .card-2 {
    position: relative;
    background: var(--card);
    padding: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.09);
}

.cardbox3 .card-2 .number {
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--angka);
}

.cardbox3 .card-2 .keterangan {
    font-size: 1.1em;
    margin-top: 5px;
    color: var(--tulisan);
}

.cardbox3 .card-2 .iconCard {
    font-size: 3.5em;
    color: var(--tulisan);
}

.cardbox3 .card-2:hover {
    background: var(--hovered);
}

.cardbox3 .card-2:hover .number,
.cardbox3 .card-2:hover .keterangan,
.cardbox3 .card-2:hover .iconCard {
    color: var(--hovered2);
}

/* Data Dashboard */
.dataDetail {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    /* margin-top: 10px; */
}

.dataDetail .pasien {
    position: relative;
    display: grid;
    min-height: 250px;
    background: var(--card);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.09);
    border-radius: 15px;
}

.headeer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.headeer h2 {
    font-weight: 600;
    color: var(--tulisan);
}

.headeer .tombol {
    position: relative;
    padding: 5px 10px;
    background: var(--hovered);
    text-decoration: none;
    color: var(--tulisan);
    border-radius: 6px;
}

.dataDetail table {
    position: relative;
    margin-top: 10px;
    border-collapse: collapse;
    overflow: scroll;
}

.dataDetail table thead td {
    padding: 10px;
    font-weight: 600;
}

.dataDetail .pasien table tr {
    color: var(--tulisan);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dataDetail .pasien table tr td {
    padding: 10px;
}

.dataDetail .pasien table tr:last-child {
    border-bottom: none;
}

.dataDetail .pasien table tr td:last-child {
    text-align: end;
}

/* Page Pasien */

.cardbox4 {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
}

.cardbox4 .card-3 {
    position: relative;
    background: var(--card);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.09);
    align-items: center;
    justify-content: center;
    color: var(--tulisan);
    transition: var(--tran-03);
}

.card-3 .btnrr {
    height: 60px;
    width: 200px;
    display: block;
    background: linear-gradient(to right, #00b09b, #96c93d);
    margin: 0 20px;
    text-decoration: none;
    color: var(--white);
    line-height: 60px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    border-radius: 30px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);

}

.card-3 .btnrr i {
    font-size: 20px;
    margin-right: 5px;
}

.btnrr::before {
    content: '';
    position: absolute;
    height: 90px;
    width: 30px;
    background: var(--card);
    box-shadow: 0 0 10px var(--card);
    filter: blur(1px);
    opacity: 0.5;
    margin-top: -30px;
    transition: var(--tran-03);
    transform: rotate(-20deg) translateX(-60px);
    overflow: hidden;
}

.btnrr:hover::before {
    transform: rotate(-20deg) translate(160px, 75px);
}

/* Profile Modal */

.profilemenu {
    border-radius: 10px;
    background-color: var(--blue);
}

.profilemenu:hover {
    background-color: var(--bluehover);
}

.profilemenu,
.links {
    padding: 12px;
    font-size: 1em;
    font-family: 'Inter', sans-serif;
    border: none;
    outline: none;
    width: 200px;
    color: var(--tulisan);
    transition: 0.3s;
}

.sub {
    border-radius: 10px;
    background-color: var(--submenu);
    margin-top: 5px;
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
    z-index: 3;
}

.newsub {
    transform: scaleY(1);
}

.links {
    background-color: var(--submenu);
}

.links:hover {
    background-color: var(--submenuhover);
    transform: scaleX(1.1);
}

.sub2 {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.prof {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.links,
i {
    margin-right: 7px;
}

/* Clock Dashboard */

.clock {
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    background: var(--card);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.09);
    border-radius: 20px;
}

.analog {
    margin: auto;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(assets/clock.png);
    background-size: cover;
    border: 4px solid var(card);
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
        inset 0 -15px 15px rgba(255, 255, 255, 0.05),
        0 15px 15px rgba(0, 0, 0, 0.3),
        inset 0 15px 15px rgba(0, 0, 0, 0.3);
}

.analog::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: var(--jam);
    border-radius: 50%;
    z-index: 10000;
}

.analog .jam,
.analog .menit,
.analog .detik {
    position: absolute;
}

.analog .jam,
.hr {
    width: 160px;
    height: 160px;
}

.analog .menit,
.mn {
    width: 190px;
    height: 190px;
}

.analog .detik,
.sc {
    width: 230px;
    height: 230px;
}

.hr,
.mn,
.sc {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: absolute;
    border-radius: 50%;
}

.hr::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background: var(--angka);
    z-index: 10;
    border-radius: 6px 6px 0 0;
}

.mn::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background: var(--angka);
    z-index: 11;
    border-radius: 6px 6px 0 0;
}

.analog .date {
    font-size: 20px;
    color: var(--tulisan);
    font-weight: 600;
    letter-spacing: 3px;
}

.analog .date .dino {
    position: relative;
    left: 140px;
    bottom: 60px;
    text-shadow: 1px 1px 2px var(--hovered2);
    z-index: inherit;
}

.analog .date .wulan {
    position: relative;
    left: 40px;
    top: 60px;
    text-shadow: 1px 1px 2px var(--hovered);
}

.analog .date .tanggal {
    position: relative;
    right: 150px;
    text-shadow: 1px 1px 2px var(--hovered);
}

.analog .date .taun {
    position: relative;
    right: 30px;
    text-shadow: 1px 1px 2px var(--hovered);
}

.sc::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background: red;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}

/* Teks Slide */
.teks-slide {
    position: relative;
    display: flex;
    left: 19px;
    width: 97%;
    padding: 25px;
    background: var(--card);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
}

.teks-slide marquee {
    color: var(--tulisan);
    font-weight: 600;
}

/* Form registrasi */
.pendaftaran {

    position: flex;
    height: 100vh;
    padding: 20px;
}

.registrasi {
    background-color: var(--card);
    margin-bottom: 20px;
    position: relative;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.09);
    color: var(--tulisan);
    transition: var(--tran-03);
}

.registrasi h2 {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    padding-bottom: 15px;
}

.registrasi form .input-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .input-details .inputbox {
    width: calc(100% / 2 - 20px);
}



/* Edit Profile */
.edit {
    position: flex;
    height: 100vh;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.user-profil {
    position: relative;
    padding-right: 150px;
    padding-left: 150px;
    padding-bottom: 100px;
    padding-top: 50px;
    margin-right: 30px;
    border-radius: 15px;
    background: var(--card);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.09);
    color: var(--tulisan);
    transition: var(--tran-03)
}

.user-profil h2 {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    padding-bottom: 15px;
    text-align: center;
}

.user-profil .fotoprofile {
    position: flex;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
}

.foto {
    margin: 10px auto;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}

.user-profil .fotoprofile img {
    width: 150px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.user-profil .fotoprofile a {
    font-size: 16px;
    width: 100%;
    color: var(--tulisan);
}

.user-profil .fotoprofile p {
    font-size: 14px;
    width: 100%;
    color: #d32828;
    font-style: italic;
}

.inputan-profil {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inputProfil {
    margin: 15px 0 12px 0;
    width: calc(100% / 2 - 20px);
}


.detil {
    display: flex;
    font-weight: 500;
    margin-bottom: 10px;
}

.forminput {
    padding-right: 8px;
    width: calc(100% - 200px);
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: var(--tran-03);
}

.forminput:focus {
    border-color: var(--hovered3);
}


form .button-submit {
    float: right;
    position: relative;
    height: 45px;
    width: 30%;
    margin-top: 1rem;
    outline: none;
    border: none;
    border-radius: 12px;
    background: var(--submitbtn);
    color: var(--tulisan);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.inputbox {
    margin: 15px 0 12px 0;
    width: calc(100% / 2 - 20px);
}


select {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: var(--tran-03);
}

textarea {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 1rem;
    height: auto;
    width: 100%;
    outline: none;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: var(--tran-03);
}

form .checkrm button {
    position: relative;
    height: 45px;
    width: 30%;
    float: right;
    outline: none;
    border: none;
    border-radius: 12px;
    background: var(--blue);
    color: var(--tulisan);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: var(--tran-03);
}

form .checkrm button:hover {
    background: var(--bluehover);
}

.checkrm {
    margin: 15px 0 12px 0;
    width: calc(100% / 2 - 20px);
}

.checkrm input {
    height: 45px;
    width: 100%;
}

.formcheckrm {
    padding-right: 8px;
    float: left;
    width: calc(100% - 200px);
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: var(--tran-03);
}

.formcheckrm:focus,
.formcheckrm:valid {
    border-color: var(--hovered3);
}


.drpdwn {
    float: left;
}

.checkbox {
    margin-bottom: 1rem;
}

.pemeriksaan h3 {
    margin-bottom: 1rem;
    width: 100%;
}

.pemeriksaan {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pemeriksaan {
    margin-top: 1rem;
    width: 100%;
}


.pemeriksaan table tr td {
    padding-bottom: 1rem;
}


.pemeriksaan .checkbox {
    width: calc(100% / 2 - 20px);
}

.drop {
    width: 70%;
}

.pemeriksaan p {
    margin-top: 20px;
}

footer {
    padding: 20px;
}

footer p {
    color: var(--tulisan);
    text-align: center;
}

.pelayanan {
    align-items: flex-start;
}

.radiopelayanan {
    margin-bottom: 10px;
}

.inputbox h3 {
    margin-bottom: 10px;
}

.btnpemeriksaan button {
    position: relative;
    height: 45px;
    width: 30%;
    margin-top: 1rem;
    margin-left: 5px;
    outline: none;
    border: none;
    border-radius: 12px;
    color: var(--tulisan);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.floating-btn button {
    height: 45px;
    width: 30%;
    outline: none;
    border: none;
    border-radius: 12px;
    color: var(--tulisan);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.floating-btn{
    bottom: 0;
    left: 80px;
    margin-left: 17vw ;
    margin-bottom: 50px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.primary {
    background: var(--primary);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.primary:hover {
    background: var(--primaryhover);
}

.warning {
    background: var(--warning);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.warning:hover {
    background: var(--warninghover);
}


.btnpemeriksaan {
    position: relative;
    text-align: center;
}

.btnpemeriksaan a {
    color: var(--tulisan);
}

/* Tambah Data Dokter */

.inputan-profil .inputProfil p {
    font-size: 14px;
    width: 100%;
    color: #d32828;
    font-style: italic;
}


/* MATA BATIN PADA FORM */

.matabatin {
    position: absolute;
    padding-top: 13px;
}

.matabatin i {
    display: inherit;
    margin-left: -40px;
    color: var(--black1);
}

.matabatin #hide1 {
    display: none;
}

.mata-mata {
    position: absolute;
    padding-top: 13px;
}

.mata-mata i {
    display: inherit;
    margin-left: -40px;
    color: var(--black1);
}

.mata-mata #hide3 {
    display: none;
}